<p>Pages#home</p>
<p>Find me in app/views/pages/home.html.erb</p>


<h1 class="helmuth-title">Helmuth Microsite</h1>

    <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "helmuth-login") %>
    <% else %>
        <%= link_to('Login', new_user_session_path, class: "helmuth-login") %>
    <% end %>
    <div id="map" class="helmuth-map" data-microsites="<%= @hash.to_json %>"></div>
