// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body 
  padding: 30px 30px
  background-color: #f0f0ff


#helmuth 
  &-title 
    margin: 10px auto 0 
    text-align: center
  
  &-map 
    max-width: 100%
    margin: 0 auto
  
  &-login
    button 
      width: 75px
      height: 30px
    a
      color: #000000 
    margin: 30px auto
    text-align: center

